* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
}
main {
  margin: auto;
  width: 327px;
  height: 567px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 20px 30px 0px rgba(0, 0, 0, 0.082);
}
.img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.wrapper {
  width: 279px;
  margin: auto;
}
h1 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: hsl(223, 47%, 23%);
}
.p-order {
  margin-bottom: 24px;
  font-size: 15px;
  color: hsl(224, 23%, 55%);
  text-align: center;
  line-height: 25px;
}
.plan {
  display: flex;
  align-items: center;
  height: 81px;
  margin-bottom: 24px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 11px;
}
.plan img {
  width: 48px;
  height: 48px;
  margin: 17px;
}
h2 {
  margin-bottom: 3px;
  font-size: 14px;
}
.plan p {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
}
.plan a {
  margin-left: 50px;
  font-size: 13px;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}
button {
  width: 279px;
  height: 50px;
  margin-bottom: 24px;
  background-color: hsl(245, 75%, 52%);
  border: transparent;
  border-radius: 11px;
  color: white;
  font-weight: 700;
  box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, 0.308);
}
.cancel {
  font-size: 15px;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
  text-align: center;
}
footer {
  font-size: 12px;
  text-align: center;
}
footer a {
  color: black;
  text-decoration: none;
}
@media (min-width: 950px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}
